<dpsm>

  <!-- Generatory przestrzeni nazw userow -->
  <events_after>1</events_after>

  <!-- Userzy testowi -->
  <user_names_generator>
    <range><from>100</from><to>299</to></range>
    <name>user%(num:u)</name>
    <server>jabber.localhost</server>
  </user_names_generator>

  <!-- Wlasciwosci uzytkownikow wybranych z przestrzeni nazw -->
  <user_properities>
   <filter><name>user.*</name></filter>
   <properities>
    	<fullname>user%(num*2:u)-%(3+num%12000/(1+3)+7:u)</fullname>
	<password>passwd%(num:u)</password>
	<resource>Tester</resource>
	<host>localhost</host>
	<ssl/>
<!-- Pelny log socketow -->
	<sniff>/tmp</sniff>
<!-- Polacz sie z serwerem -->
        <event><name>connect</name><frequency>30000</frequency>
		<counter>60</counter>
		<!--Mozemy sie logowac digestem a nie plainem: <digest/> -->
	</event>


<!-- Dodajemy do rostera nowego uzytk. wylosowanego z podanego zakresu -->
	<event><name>add_roster</name><frequency>60000</frequency>
		<user><range><from>100</from><to>299</to></range></user>
                <max_roster_count>5</max_roster_count>
        </event>
<!-- Usuwamy z rostera uzytk. wylosowanego z rostera -->
	<event><name>del_roster</name><frequency>30000</frequency></event>
<!-- Wysylamy wiadomosc -->
	<event><name>send_message</name><frequency>30000</frequency>
		<user><range><from>100</from><to>299</to></range></user>
		<prepend_with_debug_info/>
		<file>wiadomosc.txt</file>
                <text>Wiadomosc testowa krotka</text></event>
<!-- Zmieniamy status -->
	<event><name>change_status</name><frequency>60000</frequency>
		<!-- Mozna podac dokladnie co, a domyslnie losuje-->
		<!--<status>Jezdem tera dostepny</status><show>chat</show>-->
	</event>

<!-- Zamykaj ladnie polaczenie -->
	<event><name>logout</name><frequency>300000</frequency></event>
<!-- Zabijaj polaczenie -->
	<event><name>kill_connection</name><frequency>150000</frequency></event>
<!-- Tez powinno zabic polaczenie -->
	<event><name>send_raw_bytes</name><frequency>300000</frequency>
		<random_stream len="1000"/>
        </event>

   </properities>
  </user_properities>


</dpsm>
